@charset "utf-8";
/* CSS Document */



.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
}

.hidden {
  display: none;
}

.active .accordion-header {
  background-color: #ddd;
}






